<a href="https://colab.research.google.com/github/bjs3385/DSAC/blob/main/DSAC_STUDY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## p.52
# 파이썬 기초

    변수(variable) - 데이터를 담을 수 있는 그릇 -> ex) int, float, double, string, boolean
    데이터 타입 - [list], (tuple), {dictionary}->{}
    "="기호 - assign 할당

- ### Variable

In [1]:
x = 7
x

7

In [2]:
xx = 70; xx

70

In [5]:
k, s = 20, 30

In [6]:
print(k, s)

20 30

In [9]:
y = 100
z = 200
list_1 = [x, y, z]
print(list_1)

[7, 100, 200]

In [10]:
a = 10
x = 0.5
y = True;
z = "test";
print(a, x, y, z)

10 0.5 True test

## print()

In [12]:
# print() 함수 : 출력
# 만든 날짜 : 0000.00.00 
# 만든이 : 000

my_string = "DSAC module1 Data Programming - DSACM1"
print(my_string)

DSAC module1 Data Programming - DSACM1

In [14]:
print("1. 문자열 출력")
print("================================================================")

1. 문자열 출력
================================================================

In [16]:
print('2. 문자열 출력')
print('================================================================')

2. 문자열 출력
================================================================

In [19]:
print("""
    3. 문자열
    출력
    연습입니다.
      """)
print('================================================================')

    3. 문자열
    출력
    연습입니다.

================================================================

In [21]:
print('''
      4. 
      문자열 연습
      ''')
print('================================================================')

      4.
      문자열 연습

================================================================

In [23]:
print('''
      5. "문자열"
      출력 연습
      입니다.''')
print('================================================================')

      5. "문자열"
      출력 연습
      입니다.
================================================================

In [24]:
multi = """
문자열
출력
테스트
"""
print(multi)

문자열
출력
테스트

In [28]:
print("안녕","파이썬", "20" + "세 입니다.")
print("안녕","파이썬" ,20 , "세 입니다.")
print("안녕"+"파이썬" , 20 , "세 입니다.")

안녕 파이썬 20세 입니다.
안녕 파이썬 20 세 입니다.
안녕파이썬 20 세 입니다.

In [30]:
print("%d %d %d" %(100, 200, 300))
print("%10d" %(100))
print("%010d" %(100))
print("%-10d" %(100))

100 200 300
       100
0000000100
100

In [32]:
print("%f" %(3.141592))
print("%.1f" %(3.141592))
print("%.2f" %(3.141592))
print("%.3f" %(3.141592))

3.141592
3.1
3.14
3.142

In [33]:
h = True
k = False
print(h & k)
print(h or k)

False
True

In [34]:
h + k + 1

2

In [35]:
print(h + h + h + 10 + h + h +h)

16

In [36]:
print(list_1)

[7, 100, 200]

In [38]:
list_2 = [1, 2, 3]
print(list_2)

[1, 2, 3]

In [39]:
len(list_2)

3

In [41]:
print(3 in list_2)
print(5 in list_2)

True
False

In [42]:
list_a = [3, True, "홍길동"]
list_a.append(100)

In [43]:
print(list_a)

[3, True, '홍길동', 100]

In [44]:
test1 = [1, 2, 100, 4, 5, 'kim', 'lee']

In [45]:
print(len(test1))

7

In [46]:
print(4 in test1)
print(5 in test1)
print('kim' in test1)
print('KIM' in test1)

True
True
True
False

    .append(자료)
    .insert(위치, 자료)
    .remove(자료)
    del 변수명[], 마지막변수명[]

In [49]:
items = [1, 2, 100, 4, 5, 'kim', 'lee']
items

[1, 2, 100, 4, 5, 'kim', 'lee']

In [50]:
items.append(6)
items.append('lee')
items

[1, 2, 100, 4, 5, 'kim', 'lee', 6, 'lee']

In [52]:
items.insert(5, 6)
items

[1, 2, 100, 4, 5, 6, 6, 'kim', 'lee', 6, 'lee']

In [54]:
items.remove("lee")
items

[1, 2, 100, 4, 5, 6, 6, 'kim', 6, 'lee']

In [55]:
del items[3] # drop() 행과 열 삭제
items

[1, 2, 100, 5, 6, 6, 'kim', 6, 'lee']

In [56]:
# set{} 자료형 : 중복 불허
numbers = [1, 3, 2, 2, 3, 3, 4, 5, 6, 5]  # list

kk = set(numbers)   # set{} 자료 변환 : 중복 불허
print(kk) # set 자료 출력
print(list(kk))  # set 자료 -> list 자료 변환 출력

{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6]

In [57]:
list_2 = [1, 2, 3, 4, 5]
list_2 * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# slice [ : , : ] 행 , 열
    시작부터 n-1 까지

In [58]:
item3 = list_2;
item3[:2]

[1, 2]

In [60]:
item3[2:]

[3, 4, 5]

# range(n, m , step) n : start, m = end

In [63]:
x1 = range(10)
x1

range(0, 10)

In [64]:
x2 = list(range(10))
x2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
x3 = list(range(10, 20, 2))
x3

[10, 12, 14, 16, 18]

In [66]:
for i in x3:
    print(i)

10
12
14
16
18

In [68]:
print(x3[0])
print(x3[1])
print(x3[2])
print(x3[-2])
print(x3[-1])

10
12
14
16
18

In [69]:
x = range(1, 20 ,2)
for i in x:
    print(i * 10)

10
30
50
70
90
110
130
150
170
190

# 튜플
    상수 취급 ( const, final )

In [71]:
t1 = (1, 2, 3, 4, 5)
my_tuple = (1,2 ,3)
your_tuple = 4, 5, "test"
my_tuple + your_tuple

(1, 2, 3, 4, 5, 'test')

# Dict
    {"key" : "value"}

In [72]:
dict_test = {"a": 1, "b": 2, "c": 3}

In [73]:
print(dict_test["a"])
print(dict_test["b"])

1
2

In [76]:
print("a" in dict_test)
print(1 in dict_test)

True
False

In [77]:
dict_test["d"] = 4
print(dict_test)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [78]:
# dict 자료
food = {'과일': 'Apple','지역': '청송','금액': 5000}
food

{'과일': 'Apple', '지역': '청송', '금액': 5000}

In [80]:
x = 3
if x > 10:
    print("x는 10보다 크다.")
elif x > 3:
    print("x는 3보다 크다.")
else :
    print("x는 3보다 작거나 같다.")

x는 3보다 작거나 같다.

In [82]:
num = 7
if num % 2 != 0 :
    print("홀수")
else :
    print("짝수")

홀수

In [83]:
num = 7
if num % 2 :
    print("홀수")
else :
    print("짝수")

홀수

In [89]:
var = int(input("점수를 입력 : "))

if var >= 90:
    print("점수는 : " , var , "A")
elif var >= 80:
    print("점수는 : " ,var , "B")
elif var >= 70:
    print("점수는 : " , var , "C")
elif var >= 60:
    print("점수는 : " , var , "D")
else:
    print("점수는 : " ,var , "F")

성적은 :  90 A

In [91]:
for x in (1, 3, 5, 10):
    print(x , x*x)

1 1
3 9
5 25
10 100

In [92]:
for x in range(1, 20, 1):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [95]:
mun = [2, 4, 6, 8]
result = 0
for i in mun:
    result = result + i / 2
    print(result)

1.0
3.0
6.0
10.0

In [96]:
a = 'Python'
b = 'computer'
c = 'acbf'
d = [2,6,9,3,7]

print(a)
print(b)
print(c)
print(d)

Python
computer
acbf
[2, 6, 9, 3, 7]

    sorted() 원본 유지 / sort() 원본 교체

In [98]:
print(sorted(a))
print(sum(d))

['P', 'h', 'n', 'o', 't', 'y']
27

In [101]:
d.sort()
print(d)
d.sort(reverse=True)
print(d)

[2, 3, 6, 7, 9]
[9, 7, 6, 3, 2]